<h1 class="text-center">All Ruby Bloggers</h1>

<div class="text-center">
    <%= will_paginate(class: 'justify-content-center') %>
</div>
<% @users.each do |user| %>
    <ul class="list-group-item">
        <div class="row">
            <div class="card col-md-4 offset-md-4">
                    <%= link_to gravatar_for(user), user_path(user), class: "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= link_to user.username, user_path(user) %>
                    </h5>
                    <p class="card-text">
                        <small>
                            <%= pluralize(user.articles.count, "article") if user.articles %>
                        </small>
                    </p>
                </div>
                <% if logged_in? and current_user.admin? %>
                    <div class="card-footer">
                    <%= link_to "Edit this user", edit_user_path(user), class: "btn btn-primary btn-sm" %>
                    <%= link_to "Delete this user", user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete the user and all their articles?" }, class: "btn btn-sm btn-danger" %>
                    </div>
                <% end %>
            </div>
        </div>
    </ul>
<% end %>
<div class="text-center">
    <%= will_paginate(class: 'justify-content-center') %>
</div>