<%= render 'shared/errors', obj: @category %>

<%= form_for @category do |form| %>
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">
            <%= form.label :name %>
        </label>
        <div class="col-sm-10 col-md-6 col-xs-10">
            <%= form.text_field :name, class: "form-control", placeholder: "Enter a category name", autofocus: true %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-2 mb-2">
            <%= form.submit class: "btn btn-primary", type: "submit" %>
        </div>
    </div>
<% end %>

<div class="row">
        <div class="col-md-6 offset-md-4">
            [ <%= link_to "Cancel request and return to categories listing", categories_path %> ]
        </div>
</div>